<!-- TITULO -->
<div mat-dialog-title>
  <div class="row">
    <div class="col-md-3">
      <i class="fas fa-plus"></i>
      {{ datos.nuevo? 'Nuevo kit':'Editar kit'}}
    </div>

    <div class="col-md-1 offset-8" style="text-align: right; cursor: pointer;" (click)="onNoClick()">
      <i class="fas fa-window-close"></i>
    </div>
  </div>
  <mat-divider></mat-divider>
</div>

<!-- FORM -->
<form (ngSubmit)="onSubmit()">

  <!-- CUERPO -->
  <div mat-dialog-content>

    <div class="row">
      <div class="col-md-12">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput autocomplete="off" [(ngModel)]="kit" name="nombre-kit45" placeholder="Kit de mil km"
            type="text" [required]="true">

        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Cantidad</mat-label>
          <input matInput autocomplete="off" [(ngModel)]="fila.cantidad" name="codigo-kit45" placeholder="0"
            type="text">


        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Unidad</mat-label>
          <input matInput autocomplete="off" [(ngModel)]="fila.unidad" name="codigo-empresa-kit45" placeholder="Pz"
            type="text" [required]="true">

        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Numero de Parte</mat-label>
          <input matInput autocomplete="off" placeholder="6456" [(ngModel)]="fila.numero" name="descripcion-kit45"
            type="text" [required]="true">

        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Descripcion</mat-label>
          <input type="text" matInput [required]="true" [(ngModel)]="fila.descripcion" name="marca-kit45">
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="agregarFila()">Agregar</button>
      </div>

      <div class="col-md-12" style="margin-top: 10px;">
        <table class="table">
          <thead>
            <tr>
              <th>Cantidad</th>
              <th>Unidad</th>
              <th>Numero de Parte</th>
              <th>Descripcion</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of lista">
              <td>{{item.cantidad}}</td>
              <td>{{item.unidad}}</td>
              <td>{{item.numero}}</td>
              <td>{{item.descripcion}}</td>
              <td><button type="button" class="btn btn-danger" (click)="quitar(item)">Quitar</button></td>
            </tr>
          </tbody>
        </table>
      </div> 
    </div>





  </div>

  <mat-divider></mat-divider>

  <!-- PIE -->
  <div mat-dialog-actions>
    <button type="button" (click)="guardarKit()" class="btn btn-primary">{{ datos.nuevo? 'Registrar!':'Actualizar!'}}</button>
  </div>

</form>