<!-- TITULO -->
<div mat-dialog-title>
  <div class="row">
    <div class="col-md-3">
      <i class="fas fa-plus"></i>
      Mis Check List
    </div>

    <div class="col-md-1 offset-8" style="text-align: right; cursor: pointer;" (click)="onNoClick()">
      <i class="fas fa-window-close"></i>
    </div>
  </div>
  <mat-divider></mat-divider>
</div>
<div class="col-md-12">
  <div class="tabla">
    <div class="buscador ">

      <i class="fas fa-search lupa"></i>

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscador">
      </mat-form-field>


    </div>


    <div class="mat-elevation-z8 example">
      <table mat-table [dataSource]="latabla" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="motivo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Motivo </th>
          <td mat-cell *matCellDef="let element"> {{element.motivo}} </td>
        </ng-container>



        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
        </ng-container>


        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombreR }} </td>
        </ng-container>


        <ng-container matColumnDef="observaciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Observación </th>
          <td mat-cell *matCellDef="let element"> {{element.observaciones | titlecase}} </td>
        </ng-container>


        <ng-container matColumnDef="lugar">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Lugar </th>
          <td mat-cell *matCellDef="let element"> {{element.lugar}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
          <td mat-cell *matCellDef="let row" class="final">
            
            <button mat-raised-button color="accent"(click)="masDetalle(row)">Detalle</button>

          </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>