<!-- TITULO -->
<div mat-dialog-title>
  <div class="row">
    <div class="col-md-3">
      <i class="fas fa-plus"></i>
      Kits
    </div>

    <div class="col-md-1 offset-8" style="text-align: right; cursor: pointer;" (click)="onNoClick()">
      <i class="fas fa-window-close"></i>
    </div>
  </div>
  <mat-divider></mat-divider>
</div>

<div mat-dialog-content style="height: 100%;">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <label for="">Kit a Asociar</label>
          <angular2-multiselect [data]="dropdownList" style="color: black;" name="nose" [(ngModel)]="selectedItems"
            name="nom1111" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
            (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
        </div>
        <div class="col-md-12" style="margin-top: 10px;">
          <button type="button" class="btn btn-secondary" (click)="agregarFila()">Añadir</button>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of lista">
            <td>{{item.nombre}}</td>
            <td><button type="button" class="btn btn-danger" (click)="quitar(item)">Quitar</button></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<mat-divider></mat-divider>

<!-- PIE -->

<mat-dialog-actions align="end">
  <button type="button" [mat-dialog-close]="true" class="btn btn-primary" cdkFocusInitial
    (click)="guardar()">Guardar</button>
</mat-dialog-actions>